parameters:
	ignoreErrors:
		-
			message: '#^Method Patchlevel\\Hydrator\\Cryptography\\Cipher\\OpensslCipher\:\:encrypt\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Cryptography/Cipher/OpensslCipher.php

		-
			message: '#^Parameter \#1 \$key of class Patchlevel\\Hydrator\\Cryptography\\Cipher\\CipherKey constructor expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Cryptography/Cipher/OpensslCipherKeyFactory.php

		-
			message: '#^Parameter \#3 \$iv of class Patchlevel\\Hydrator\\Cryptography\\Cipher\\CipherKey constructor expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Cryptography/Cipher/OpensslCipherKeyFactory.php

		-
			message: '#^Method Patchlevel\\Hydrator\\Guesser\\BuiltInGuesser\:\:guess\(\) has parameter \$type with generic class Symfony\\Component\\TypeInfo\\Type\\ObjectType but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Guesser/BuiltInGuesser.php

		-
			message: '#^Parameter \#1 \$className of class Patchlevel\\Hydrator\\Normalizer\\ObjectNormalizer constructor expects class\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Guesser/BuiltInGuesser.php

		-
			message: '#^Parameter \#1 \$enum of class Patchlevel\\Hydrator\\Normalizer\\EnumNormalizer constructor expects class\-string\<BackedEnum\>\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Guesser/BuiltInGuesser.php

		-
			message: '#^Method Patchlevel\\Hydrator\\Guesser\\ChainGuesser\:\:guess\(\) has parameter \$type with generic class Symfony\\Component\\TypeInfo\\Type\\ObjectType but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Guesser/ChainGuesser.php

		-
			message: '#^Method Patchlevel\\Hydrator\\Guesser\\Guesser\:\:guess\(\) has parameter \$type with generic class Symfony\\Component\\TypeInfo\\Type\\ObjectType but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Guesser/Guesser.php

		-
			message: '#^Dead catch \- ReflectionException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Metadata/AttributeMetadataFactory.php

		-
			message: '#^Parameter \#1 \$class of method Patchlevel\\Hydrator\\Metadata\\AttributeMetadataFactory\:\:findNormalizerOnClass\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Metadata/AttributeMetadataFactory.php

		-
			message: '#^Property Patchlevel\\Hydrator\\Metadata\\ClassMetadata\<T of object \= object\>\:\:\$reflection \(ReflectionClass\<T of object \= object\>\) does not accept ReflectionClass\<object\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Metadata/ClassMetadata.php

		-
			message: '#^Property Patchlevel\\Hydrator\\Normalizer\\EnumNormalizer\:\:\$enum \(class\-string\<BackedEnum\>\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Normalizer/EnumNormalizer.php

		-
			message: '#^Parameter \#2 \$data of method Patchlevel\\Hydrator\\Hydrator\:\:hydrate\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Normalizer/ObjectMapNormalizer.php

		-
			message: '#^Parameter \#2 \$data of method Patchlevel\\Hydrator\\Hydrator\:\:hydrate\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Normalizer/ObjectNormalizer.php

		-
			message: '#^Property Patchlevel\\Hydrator\\Normalizer\\ObjectNormalizer\:\:\$className \(class\-string\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Normalizer/ObjectNormalizer.php

		-
			message: '#^Property Patchlevel\\Hydrator\\Tests\\Unit\\Fixture\\ChildWithSensitiveDataWithIdentifierDto\:\:\$email is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Unit/Fixture/ChildWithSensitiveDataWithIdentifierDto.php

		-
			message: '#^Property Patchlevel\\Hydrator\\Tests\\Unit\\Fixture\\IdNormalizer\:\:\$idClass \(class\-string\<Patchlevel\\Hydrator\\Tests\\Unit\\Fixture\\Id\>\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Unit/Fixture/IdNormalizer.php

		-
			message: '#^Parameter \#1 \$class of method Patchlevel\\Hydrator\\Metadata\\AttributeMetadataFactory\:\:metadata\(\) expects class\-string\<Unknown\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Metadata/AttributeMetadataFactoryTest.php

		-
			message: '#^Parameter \#1 \$class of method Patchlevel\\Hydrator\\Hydrator\:\:hydrate\(\) expects class\-string\<Unknown\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/MetadataHydratorTest.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: tests/Unit/Normalizer/ArrayNormalizerTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: tests/Unit/Normalizer/ArrayNormalizerTest.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: tests/Unit/Normalizer/ArrayShapeNormalizerTest.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: tests/Unit/Normalizer/ArrayShapeNormalizerTest.php
