includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpat/phpat/extension.neon

parameters:
	level: max
	paths:
		- src
		- tests

services:
	-
		class: Patchlevel\Hydrator\Tests\Architecture\FinalClassesTest
		tags:
			- phpat.test
